body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #eef3f9;
  }

  b1{
    font-size: 80px;
    color: #eef3f9;
    text-align:center;
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  p {
    font-size: 16px;
    color: #555;
    text-align: center;
    padding: 10px;
  }

  .red {
    background-color: #537692;
    max-width: 100%;
    height: 250px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
  }

